<label style="visibility: hidden; display: none; height: 0px;" id="pageTitle"
       title="Reset your Account"></label>

<p>You need to set up a new password for your account.</p>

<br />

<form action="/reset" method="post">

    {% for field in fields %}
        <input name="{{ field }}" type="text" style="visibility: hidden; display: none; height: 0px;" value="{{ fields[field] }}"></input>
    {% endfor %}


    <p>
        Enter a new password for your account<br />
        <input name="password" type="password" placeholder="Password" autocomplete="off"/>
    </p>


    <p>
        Confirm the new password<br />
        <input name="password-confirm" type="password" placeholder="Confirm Password" autocomplete="off"/>
    </p>


    <div class="navbuttons">
        <button class="btn" type="submit" value="Submit">Reset my Account</button>
    </div>

</form>