<label style="visibility: hidden; display: none; height: 0px;" id="pageTitle"
       title="Reset your account"></label>

<p>How would you like to reset your password?</p>

<form action="/reset_method" method="post">
    {% for field in fields %}
        <input name="{{ field }}" type="text" style="visibility: hidden; display: none; height: 0px;" value="{{ fields[field] }}" autocomplete="off"></input>
    {% endfor %}

    <input type="radio" name="resetMethod" value="code" id="mobile" checked>Mobile Phone Code<br />
    <input type="radio" name="resetMethod" value="spineauth" id="smartcard" disabled>NHS Smartcard (Coming Soon)<br />

    <div class="navbuttons">
        <button class="btn" type="submit" value="Submit">Next ></button>
    </div>

</form>
